.card {
  width: calc(25% - 16px - 24px - 5px);
  min-width: max(calc(25% - 16px - 24px - 5px), calc(360px - 16px - 24px - 5px));
  max-width: calc(100% - 16px - 24px);
  display: inline-block;
  height: 588px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 24px;
  padding: 12px;
  background-color: #646664;
}
