@media only screen and (max-width: 428px) and (min-width: 214px){
  .card {
    width: calc(100% - 16px - 24px);
  }
}

@media only screen and (max-width: 444px) and (min-width: 429px){
  .card {
    width: calc(100% - 16px - 24px);
  }
}

@media only screen and (max-width: 926px) and (min-width: 445px){
  .card {
    width: calc(50% - 16px - 24px - 10px);
  }
}

@media only screen and (min-width: 927px) {
  .card {
    width: calc(25% - 16px - 24px - 5px);
    min-width: max(calc(25% - 16px - 24px - 5px), calc(360px - 16px - 24px - 5px));
    max-width: calc(100% - 16px - 24px);
  }
}

.card {
  display: inline-block;
  vertical-align: top;
  height: 214px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 24px;
  padding: 12px;
  background-color: #646664;
}
