/*
################################################################
#TheNullPlayer: card.css
#Copyright © 2024 Allison Munn
#FULL COPYRIGHT NOTICE IS IN README
################################################################
*/

@media only screen and (max-width: 428px) and (min-width: 214px)
{
  .card
  {
    width: calc(99.00% - 16px - 24px);
  }
}

@media only screen and (max-width: 444px) and (min-width: 429px)
{
  .card
  {
    width: calc(99.00% - 16px - 24px);
  }
}

@media only screen and (max-width: 926px) and (min-width: 445px)
{
  .card
  {
    width: calc(49.50% - 16px - 24px);
  }
}

@media only screen and (min-width: 927px)
{
  .card
  {
    width: calc(32.99% - 16px - 24px);
  }
}

.card
{
  display: inline-block;
  vertical-align: top;
  height: 214px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 24px;
  padding: 12px;
  background-color: #646664;
}

.card-width-medium
{
  width: 67%;
  margin-left: auto;
  margin-right: auto;
}

.card-title
{
  height: 24px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 24pt;
}

.card-title-sub
{
  height: 12px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 8pt;
}

.content
{
  height: 54px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 12pt;

}
