/*
################################################################
#TheNullPlayer: counter.css
#Copyright © 2024 Allison Munn
#FULL COPYRIGHT NOTICE IS IN README
################################################################
*/

#counter-module {
  line-height: 1;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: #646664;
}
