#nav-drawer {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #F3F3F3;
}

.nav-drawer-close {
  width: 0px;
}

.nav-drawer-open {
  width: 100px;
}

#nav-drawer-shim {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

.nav-drawer-shim-close {
  width: 0px;
}

.nav-drawer-shim-open {
  width: 100%;
}
